<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body style="text-align:center;">
<h1> Create a new profile</h1>
<div style="text-align:center;">
  <form name="createForm" >
    <label for="first_name">First name:</label><br>
    <input type="text" placeholder="First name" name="cufname" id="first_name"><br>
    <label for="last_name">Last name:</label><br>
    <input type="text" placeholder="Last name" name="culname" id="last_name"><br><br>
    <label for="date_of_birth">Date of birth:</label><br>
    <input type="date" value="2020-02-16" name="cdob" id="date_of_birth"><br>
    <label for="city">City:</label><br>
    <input type="text" placeholder="City" name="ccity" id="city"><br>
    <button type="button" onclick="new_user()">Save</button>
  </form>
</div>

</body>

</html>

<script>


function validateUpdate(){

    if (document.createForm.cufname.value == "" ) {
           alert( "Please enter first name!" );
           document.createForm.cufname.focus() ;
           return false;
        }
    if (document.createForm.culname.value == "" ) {
           alert( "Please enter last name!" );
           document.createForm.culname.focus() ;
           return false;
    }
    if (document.createForm.cdob.value == "" ) {
           alert( "Please enter date of birth!" );
           document.createForm.cdob.focus() ;
           return false;
    }
    if (document.createForm.ccity.value == "" ) {
           alert( "Please enter city!" );
           document.createForm.ccity.focus() ;
           return false;
    }
return true;
};


function new_user() {

  var pn = localStorage.getItem("p_num");
  var fin = document.getElementById('first_name').value;
  var lan = document.getElementById('last_name').value;
  var dob = document.getElementById('date_of_birth').value;
  var fcity = document.getElementById('city').value;

  if (validateUpdate()) {
    $.ajax({
      url:"/api/insert_customer_details",
      type: 'POST',    //request type,
      dataType: 'json',
      data: { 'personal_number': pn, 'first_name': fin, 'last_name': lan, 'date_of_birth': dob, 'city': fcity },
      success:function(result){
        alert(result);
        console.log(result);
        window.location=('/users/'+pn)
      }
    });
  }
}



</script>
