<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>


<body style="text-align:center;">
<h1>Edit profile</h1>
    <div>
      <h3>Update customer (Every field needs to be filled in)</h3>
      <form name="updateForm" >
        <label for="fname">First name:</label><br>
        <input type="text" placeholder="First name" name="ufname" id="ufname"><br><br>
        <label for="lname">Last name:</label><br>
        <input type="text" placeholder="Last name" name="ulname" id="ulname"><br><br>
        <label for="date_of_birth">Date of birth:</label><br>
        <input type="date" value="2020-02-16" name="udob" id="udob"><br><br>
        <label for="city">City:</label><br>
        <input type="text" placeholder="City" name="ucity" id="ucity"><br><br>
        <button type="button" onclick="update_user()">Update</button>
      </form>
    </div>
    <br>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <div>
      <h3>Delete user</h3>
      <form>
        <button type="button" onclick="delete_user()">Delete</button>
      </form>
    </div>
    <br>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <div>
      <h3>Log out</h3>
      <form>
        <button type="button" onclick="log_out()">Log out</button>
      </form>
    </div>
    <br>

</body>

<script>
//onsubmit = "return(validateUpdate());"
function validateUpdate(){

    if (document.updateForm.ufname.value == "" ) {
           alert( "Please enter first name!" );
           document.updateForm.ufname.focus() ;
           return false;
        }
    if (document.updateForm.ulname.value == "" ) {
           alert( "Please enter last name!" );
           document.updateForm.ulname.focus() ;
           return false;
    }
    if (document.updateForm.udob.value == "" ) {
           alert( "Please enter date of birth!" );
           document.updateForm.udob.focus() ;
           return false;
    }
    if (document.updateForm.ucity.value == "" ) {
           alert( "Please enter city!" );
           document.updateForm.ucity.focus() ;
           return false;
    }
return true;
};

function update_user() {
  var pnum = localStorage.getItem("p_num");
  var fin = document.getElementById('ufname').value;
  var lan = document.getElementById('ulname').value;
  var dob = document.getElementById('udob').value;
  var city = document.getElementById('ucity').value;
  if (validateUpdate()) {
    $.ajax({
        url:"/update_customer_details",
        type: "put",    //request type,
        dataType: 'json',
        data: { 'personal_number': pnum, 'first_name': fin, 'last_name': lan, 'date_of_birth': dob, 'city': city },
        success:function(result){
            alert(result);
            console.log(result);
        }
      }); }
}

function log_out() {
  localStorage.removeItem("p_num");
  window.location='/';
}



function delete_user() {
  var pnum = localStorage.getItem("p_num");
  $.ajax({
    url:"/api/delete_customer_details/"+ pnum,
    type: "DELETE",    //request type,
    //dataType: 'json',
    //data: { 'personal_number': pnum },
    success:function(result){
      alert(result);
      console.log(result);
      window.location='/'
    }
  });

}

</script>

</html>
