<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <div class=" text-center">
    <h2>ABC BANK</h2>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <h3>Please enter a valid personal number</h3>
    <div>
      <form name="cform">
        <input type="text" name="p_num" placeholder="Personal Number" id="personal_number">
        <button type="button" onclick="check_exists()">Submit</button>
      </form>
    </div>
    <br>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <h3>Measure latency breakdown</h3>
    <div>
  <button type="button" onclick="latency_breakdown()">Check</button>
    </div>
  </div>
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
</body>


<script>



function validatepnum(){

var re = new RegExp("^(0[1-9]|[1-2][0-9]|31(?!(?:0[2469]|11))|30(?!02))(0[1-9]|1[0-2])\\d{7}$");
var personal_num = document.getElementById('personal_number').value;
if (re.test(personal_num)){
return true;
} else {
  alert( "Please enter a valid personal number");
  document.cform.p_num.focus() ;
  return false;
}

};


function latency_breakdown(){

  var d = new Date();
  var t1 = d.getTime();

  $.ajax({
    url:"/measurelatency",
    type: "get",    //request type,
    success:function(result){
      var t2 = result.t2
      var t4 = result.t4
      var e = new Date();
      var t3 = e.getTime();
      alert( "End-to-end latency: " + (t3-t1) + "ms" + "\nCloud processing latency: " + (t4-t2) + "ms" + "\nCommunication latency: " + ((t3-t1)-(t4-t2))+ "ms")
      }
    }
  );
}


function check_exists() {
  var personal_num = document.getElementById('personal_number').value;
  localStorage.setItem("p_num", personal_num);
  if (validatepnum()) {
  $.ajax({
    url:"/api/check_customer_exists/"+personal_num,
    type: "get",
    success:function(result){
      if (result === "User exits") {
          window.location=('/users/'+personal_num);

      }else {
          window.location='/create';
      }
      console.log(result);
    }
  }); }
}




</script>
</html>
