<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body style="text-align:center;">



<h1>User information</h1>

<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 48.1534%; height: 126px;" border="1" class="center">
<tbody>
<tr style="height: 18px;">
<td style="width: 17.4716%; height: 18px;">Personal number</td>
<td style="width: 30.6818%; height: 18px;"><%-pnum%></td>
</tr>
<tr style="height: 18px;">
<td style="width: 17.4716%; height: 18px;">First name</td>
<td style="width: 30.6818%; height: 18px;"><%-fname%></td>
</tr>
<tr style="height: 18px;">
<td style="width: 17.4716%; height: 18px;">Last name</td>
<td style="width: 30.6818%; height: 18px;"><%-lname%></td>
</tr>
<tr style="height: 18px;">
<td style="width: 17.4716%; height: 18px;">Date of birth</td>
<td style="width: 30.6818%; height: 18px;"><%-dob%></td>
</tr>
<tr style="height: 18px;">
<td style="width: 17.4716%; height: 18px;">City</td>
<td style="width: 30.6818%; height: 18px;"><%-ci%></td>
</tr>
<tr style="height: 18px;">
<td style="width: 17.4716%; height: 18px;">Account number</td>
<td style="width: 30.6818%; height: 18px;"><%-an%>a</td>
</tr>
<tr style="height: 18px;">
<td style="width: 17.4716%; height: 18px;">Created date</td>
<td style="width: 30.6818%; height: 18px;"><%-cr%></td>
</tr>
</tbody>
</table>





<hr style="height:2px;border-width:0;color:gray;background-color:gray">


<h1>Edit profile</h1>
    <div>
      <h3>Update customer (Every field needs to be filled in)</h3>
      <form name="updateForm" >
        <label for="fname">First name:</label><br>
        <input type="text" placeholder="First name" name="ufname" id="ufname"><br><br>
        <label for="lname">Last name:</label><br>
        <input type="text" placeholder="Last name" name="ulname" id="ulname"><br><br>
        <label for="date_of_birth">Date of birth:</label><br>
        <input type="date" value="2020-02-16" name="udob" id="udob"><br><br>
        <label for="city">City:</label><br>
        <input type="text" placeholder="City" name="ucity" id="ucity"><br><br>
        <button type="button" onclick="update_user()">Update</button>
      </form>
    </div>
    <br>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <div>
      <h3>Delete user</h3>
      <form>
        <button type="button" onclick="delete_user()">Delete</button>
      </form>
    </div>
    <br>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <div>
      <h3>Go to frontpage</h3>
      <form>
        <button type="button" onclick="go_frontpage()">Frontpage</button>
      </form>
    </div>
    <br>

</body>

<script>
//onsubmit = "return(validateUpdate());"
//function validateUpdate(){
//
//
//    if (document.updateForm.ufname.value == "" ) {
//           alert( "Please enter first name!" );
//           document.updateForm.ufname.focus() ;
//           return false;
//        }
//    if (document.updateForm.ulname.value == "" ) {
//           alert( "Please enter last name!" );
//           document.updateForm.ulname.focus() ;
//           return false;
//    }
//    if (document.updateForm.udob.value == "" ) {
//           document.updateForm.udob.focus() ;
//           return false;
//    }
//    if (document.updateForm.ucity.value == "" ) {
//           alert( "Please enter city!" );
//           document.updateForm.ucity.focus() ;
//           return false;
//    }
//return true;
//};



function update_user() {

  var fin = document.getElementById('ufname').value;
  var lan = document.getElementById('ulname').value;
  var dob = document.getElementById('udob').value;
  var city = document.getElementById('ucity').value;

    $.ajax({
        url:"/api/update_customer_details",
        type: "put",
        dataType: 'json',
        data: { 'personal_number': <%-pnum%>, 'first_name': fin, 'last_name': lan, 'date_of_birth': dob, 'city': city },
        success:function(result){
            alert(result);
        }
      });
}

function go_frontpage() {

  window.location='/';
}



function delete_user() {
  $.ajax({
    url:"/api/delete_customer_details/"+ <%-pnum%>,
    type: "DELETE",
    success:function(result){
      alert(result);
      window.location='/'
    }
  });

}

</script>

</html>
